body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;

}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5rem;
    /* Ejemplo de unidad relativa en el tamaño de fuente */
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    margin: 10px 0;
    display: inline;
    margin: 0 10px
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

nav li a {
    margin-left: 10px;
    text-align: right;
    text-decoration: none;

}

main {
    text-align: center;
    padding: 150px;

}

h1 {
    margin: 10px 0;
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

}

footer {
    bottom: 0;
    left: 0;
    background-color: #333;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #007bff;
}

.selection {
    text-align: center;
    margin-top: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection img {
    cursor: pointer;
    width: 500px;
    margin: 5px 0;
    /* Espaciado entre las imágenes */
    transition: transform 0.3s ease;
}

.selection img:hover {
    transform: scale(1.1);
}
#numero {
    background-color: lightgrey;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }