body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #6495ED; /* Color azul claro */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    color: #333;
}

.teeth {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.tooth {
    width: 60px;
    height: 60px;
    background-color: #d3d3d3;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.point {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

#infoBox {
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background: rgba(0, 0, 0, 0.7); /* Aplica un fondo semitransparente */
    color: white; /* Establece el color del texto en blanco */
    padding: 20px 0; /* Añade padding interno */
    text-align: center; /* Centra el texto horizontalmente */
}

.footer-content {
    margin-bottom: 20px; /* Añade margen inferior a la sección de contenido del footer */
}

.footer-content a {
    color: #fff; /* Establece el color del texto en blanco */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    margin: 0 10px; /* Añade margen horizontal entre los enlaces */
}

.footer-content a:hover {
    text-decoration: underline; /* Añade un subrayado en el hover */
}

.footer-bottom {
    font-size: 0.9em; /* Establece un tamaño de fuente más pequeño para la parte inferior del footer */
}
