<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anatomía Dental</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../Css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">USC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container mt-2" id="carrusel" >
        <h1>Parte Superior de la Dentadura</h1>
        <!-- Imagen con mapa interactivo -->
        <img src="../Img/ParteSuperiorDent.png" alt="Dentadura" usemap="#dentadura-map" class="img-fluid">
        <!-- Definir el mapa de imagen -->
        <map id="dentadura-map">
            <area shape="rect" coords="11,305,56,350" href="#" id="tooth18">
            <area shape="rect" coords="15,247,62,292" href="#" id="tooth17">
            <area shape="rect" coords="30,193,73,243" href="#" id="tooth16">
            <area shape="rect" coords="42,147,88,183" href="#" id="tooth15">
            <area shape="rect" coords="63,102,99,140" href="#" id="tooth14">
            <area shape="rect" coords="109,56,122,99" href="#" id="tooth13">
            <area shape="rect" coords="127,36,167,65" href="#" id="tooth12">
            <area shape="rect" coords="176,11,210,46" href="#" id="tooth11">

            <area shape="rect" coords="233,10,270,47" href="#" id="tooth21">
            <area shape="rect" coords="292,26,303,68" href="#" id="tooth22">
            <area shape="rect" coords="333,60,339,100" href="#" id="tooth23">
            <area shape="rect" coords="338,122,387,130" href="#" id="tooth24">
            <area shape="rect" coords="358,158,406,174" href="#" id="tooth25">
            <area shape="rect" coords="376,203,429,225" href="#" id="tooth26">
            <area shape="rect" coords="379,259,438,273" href="#" id="tooth27">
            <area shape="rect" coords="388,303,443,338" href="#" id="tooth28">

            <area shape="rect" coords="10,42,62,72" href="#" id="tooth48">
            <area shape="rect" coords="10,97,68,124" href="#" id="tooth47">
            <area shape="rect" coords="23,148,86,178" href="#" id="tooth46">
            <area shape="rect" coords="45,204,106,216" href="#" id="tooth45">
            <area shape="rect" coords="69,249,129,258" href="#" id="tooth44">
            <area shape="rect" coords="127,262,140,312" href="#" id="tooth43">
            <area shape="rect" coords="127,36,167,65" href="#" id="tooth42">
            <area shape="rect" coords="176,11,210,46" href="#" id="tooth41">

            <area shape="rect" coords="233,10,270,47" href="#" id="tooth31">
            <area shape="rect" coords="292,26,303,68" href="#" id="tooth32">
            <area shape="rect" coords="333,60,339,100" href="#" id="tooth33">
            <area shape="rect" coords="338,122,387,130" href="#" id="tooth34">
            <area shape="rect" coords="358,158,406,174" href="#" id="tooth35">
            <area shape="rect" coords="376,203,429,225" href="#" id="tooth36">
            <area shape="rect" coords="379,259,438,273" href="#" id="tooth37">
            <area shape="rect" coords="388,303,443,338" href="#" id="tooth38">
        </map>
        <div id="numero" style="display: none; position: absolute;">18</div>
    </main>

    <footer class="bg-dark text-light text-center py-3">
        <div class="container">
            <p>Contacto: <a href="mailto:anatomiadentalusc@gmail.com">anatomiadentalusc@gmail.com</a></p>
            <p>
                <a href="https://facebook.com">Facebook</a> |
                <a href="https://twitter.com">Twitter</a> |
                <a href="https://instagram.com">Instagram</a>
            </p>
            <p>&copy; 2024 anatomia dental Company - Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../Js/area.js"></script>
</body>

</html>